# Default ignored files
/shelf/
/workspace.xml
.idea/php.xml
.idea/php-test-framework.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
